.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid lightgrey;
    background: lightblue;
    width: 100%;
    padding: 0px 5px;
}


/* Tablet */
@media (min-width: 768px) {
    .card {
        /* 10px per box */
        width: calc((100% - 20px) / 2);
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .card {
        /* 10px per box */
        width: calc((100% - 40px) / 4);
    }
}


img {
    max-width: 100%;
    height: auto;
}